/* Your code here */
.wgs {
  height: 241px; /* 482px / 2 */
  width: 620px; /* 640px / 2 */
  position: relative;
  top: 131px; /* 262px / 2 */
  display: inline-block;
  overflow: hidden;
}

.wgs-head {
  height: 178px; /* 356px / 2 */
  width: 188px; /* 376px / 2 */
  position: absolute;
  left: 54.5px; /* 109px / 2 */
  transition: margin-top 0.25s;
}

.wgs-hill {
  height: 110px; /* 220px / 2 */
  width: 320px; /* 640px / 2 */
  position: absolute;
  top: 131px; /* 262px / 2 */
}

.wgs__mole-head--hidden {
  margin-top: 50%; /* 100% / 2 */
}

.pf {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  grid-template-columns: repeat(4, 1fr); /* Four columns */
}



/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
/* .sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
} */

/* .sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
} */

/* .sb__score-holder {
  flex: 1 0 0;
} */

/* .sb__game-over--hidden {
  display: none;
} */
